@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  /* background-color: #fff; */
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.flex_colum-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.btn {
  display: inline-block;
  background-color: #1c2042;
  color: white;
  border: 2px solid #1c2042;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  margin-top: 0.25rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

.header {
  background-color: #1f2937;
  color: #fff;
  height: 60vh;
}

.navbar {
  width: 100%;
  height: 5rem;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  font-size: 1.5rem;
  color: #f9faf8;
  text-transform: uppercase;
  font-weight: 900;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-item {
  margin: 0 1rem;
}

.nav-list-link {
  font-size: 1.125rem;
  color: #e5e7e8;
  font-weight: 600;
}

.hero {
  height: calc(60vh - 5rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero_content-container {
  align-items: flex-start;
  width: 40%;
  gap: 0.5rem;
}

.hero_content-title {
  font-size: 2rem;
  font-weight: 800;
  color: #f9faf8;
  margin-bottom: 0;
}

.hero_content-description {
  font-size: 1.125rem;
  color: #e5e7e8;
}

.btn-signup {
  background-color: #3882f6;
  border-color: #3882f6;
}

.hero_img-container {
  padding: 1rem;
  width: 60%;
}

.hero-img {
  border-radius: 8px;
}

.random-section {
  padding: 5rem 0;
  text-align: center;
}

.section-title {
  font-size: 2.25rem;
  color: #1f2937;
  margin-bottom: 2rem;
}

.box-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.box_img-container {
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.box-contant-description {
  font-size: 1.125rem;
  color: #1f2937;
}

.quote-container {
  background-color: #e5e7eb;
  padding: 3rem;
}

.quote-content-container {
  width: 65%;
  margin: 1rem auto;
}

.quote-blockquote {
  margin-bottom: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}

.quote-cite {
  float: right;
}

.card-container {
  padding: 1rem;
}

.card {
  width: 65%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3882f6;
  padding: 2rem 3rem;
  border-radius: 10px;
  color: #fff;
}

.card_content-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btn-card {
  background-color: transparent;
  border-color: #fff;
}

.footer {
  background-color: #1f2937;
  padding: 2rem;
  text-align: center;
  color: #fff;
}
